<main class="">
  <app-navbar></app-navbar>
  <nav>
    <img src="../../../assets/img/logo.svg" alt="jobs" class="logo" />
  </nav>
  <div class="container page">
    <div class="info">
      <h1>job <span>tracking</span> app</h1>
      <p>
        I'm baby wayfarers hoodie next level taiyaki brooklyn cliche blue bottle
        single-origin coffee chia. Aesthetic post-ironic venmo, quinoa lo-fi
        tote bag adaptogen everyday carry meggings +1 brunch narwhal.
      </p>
      <a class="btn btn-hero" href="/register">Login/Register</a>
    </div>
    <img
      src="../../../assets/img/main-alternative.svg"
      alt="job hunt"
      class="img main-img"
    />
  </div>
</main>
