<div class="login-container my-5">
  <form class="py-5 px-3" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div class="imgcontainer"></div>
    <h3 class="text-center">Login</h3>
    <div class="form-register">
      <label for="uname">Email</label>
      <input type="email" name="email" [(ngModel)]="form.email" required placeholder="Enter Email" #email="ngModel" />
      <div class="alert alert-danger" role="alert" *ngIf="email.errors && f.submitted">Email is required!</div>
      <label for="psw">Password</label>
      <input
        type="password"
        name="password"
        [(ngModel)]="form.password"
        required
        minlength="6"
        #password="ngModel"
        placeholder="Enter Password"
      />
      <div class="alert alert-danger" role="alert" *ngIf="password.errors && f.submitted">
        <div *ngIf="password.errors.required">Password is required</div>
        <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
      </div>
      <div class="d-flex justify-content-center">
        <button *ngIf="!isLoading" type="submit">Login</button>
      </div>
      <div class="form-group">
        <div class="alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">{{ errorMessage }}</div>
      </div>
      <p class="not-member">
        Not a member yet?
        <a type="button" (click)="open('register')" class="member-btn">Register</a>
      </p>
      <div *ngIf="isLoading" class="loader"></div>
    </div>
  </form>
</div>
